<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-back-button slot="start"></ion-back-button>
  <img id="pic" src="https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/GoToolsMainLogo.png" width="150" height="50">
</ion-toolbar>
</ion-header>


<ion-content>
  <section>Rentools</section>
  <section>
    6 Results Found for "Electric Drill"
  </section>
  <section>
    <ion-button id="fix"> Filter Your Results </ion-button>
  </section>
  <section>
    <ion-button class="tools" [routerLink]="   ['/RenterProfile/RenterProfilePageModule']">
        <ion-icon       size='large'name="person-circle-outline"></ion-icon>
    John Jones - Elecric Drill
    <ion-button class="bools"><ion-icon name="location-outline"></ion-icon></ion-button>
    </ion-button>
  </section>
  <section>
  <ion-button class="tools">
      <ion-icon       size='large'name="person-circle-outline"></ion-icon>
  Edgar Smith - Elecric Drill
  <ion-button class="bools"(click)="presentModal()"> <ion-icon name="mail-outline"></ion-icon> </ion-button>
  </ion-button>
  <section>
    <ion-button class="tools" [routerLink]="   ['/RenterProfile/RenterProfilePageModule']">
        <ion-icon       size='large'name="person-circle-outline"></ion-icon>
    John Jones - Elecric Drill
    <ion-button class="bools"><ion-icon name="location-outline"></ion-icon></ion-button>
    </ion-button>
  </section>
  <section>
    <ion-button class="tools" [routerLink]="   ['/RenterProfile/RenterProfilePageModule']">
        <ion-icon       size='large'name="person-circle-outline"></ion-icon>
    John Jones - Elecric Drill
    <ion-button class="bools"><ion-icon name="location-outline"></ion-icon></ion-button>
    </ion-button>
  </section>
  <section>
    <ion-button class="tools" [routerLink]="   ['/RenterProfile/RenterProfilePageModule']">
        <ion-icon       size='large'name="person-circle-outline"></ion-icon>
    John Jones - Elecric Drill
    <ion-button class="bools"><ion-icon name="location-outline"></ion-icon></ion-button>
    </ion-button>
  </section>
  <section>
    <ion-button class="tools" [routerLink]="   ['/RenterProfile/RenterProfilePageModule']">
        <ion-icon       size='large'name="person-circle-outline"></ion-icon>
    John Jones - Elecric Drill
    <ion-button class="bools"><ion-icon name="location-outline"></ion-icon></ion-button>
    </ion-button>
  </section>
</section>
</ion-content>