.tools {
  width: 350;
  height: 100px;
  --background: white;
  --color: black;
  --box-shadow: 0px 2px 5px rgb(122, 120, 120);
}

.bools {
  width: 350;
  height: 100px;
  --background: white;
  --color: black;
}

section {
  text-align: center;
}
#fix {
  --background: #F44C0E;
}
ion-content {
  --background: url(https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/Background%20Image.png) no-repeat center/cover fixed;
}

#pic {
  margin-left: 50px;
}