<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title> Success! </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <h2>Highlight Your Listing</h2>
  <p>Highlighting your listing will make it more visible and help rent out your item faster. Pay only when your tool is booked via the promotion. Your fee is based on your ad rate and final rental price. </p>

  <div id="faq">
    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Ad Rate: 5.5% (Recommended) </h5>
        <ion-item class="bruh">
          <ion-input placeholder="Number Here"min="0" max="100" type="number"></ion-input>
        </ion-item>
      </li>
    </ul>
  </div>

  <ion-button id="como"> Cancel </ion-button> <br>
  <ion-button id="coma"> Publish Highlighted Listing </ion-button>
</ion-content>