.tools {
  width: 300px;
  height: 100px;
  --background: #F44C0E;
}
section {
  text-align: center;
}

ion-content {
  --background: url(https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/Background%20Image.png) no-repeat center/cover fixed;
}