<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-back-button slot="start"></ion-back-button>
  <img id="pic" src="https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/GoTool%20Logo.png" width="150" height="50">
</ion-toolbar>
</ion-header>
<section>
  <h6>Commonly Used Power Tools</h6>
</section>
<ion-content> 
  <section>
  <ion-button class="tools" [routerLink]="['/PickRenter/PickRenterPageModule']">Electric Drill</ion-button>
  </section>
  <section>
  <ion-button class="tools">Circular Saws</ion-button>
  </section>
  <section>
  <ion-button class="tools">Angle Grinders</ion-button>
  </section>
  <section>
  <ion-button class="tools">Saws</ion-button>
  </section>
  <section>
  <ion-button class="tools">Nail Guns</ion-button>
  </section>
</ion-content>   