<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title> Create A Listing </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <section>
  <ion-item>
  <ion-label>Choose Catagory</ion-label>
  <ion-select ok-text="Choose" cancel-text="Cancel">
    <ion-select-option value="PowerTools">Power Tools</ion-select-option>
    <ion-select-option value="Accessories">Accessories</ion-select-option>
    <ion-select-option value="Woodworking">Woodworking</ion-select-option>
    <ion-select-option value="WEldind & Soldering">Welding & Soldering</ion-select-option>
    <ion-select-option value="Vaccums">Vaccums</ion-select-option>
    <ion-select-option value="Safety Gear">Saftey Gear</ion-select-option>
    <ion-select-option value="Small Tools">Small Tools</ion-select-option>
  </ion-select>
</ion-item>
  </section>
  <section>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </section>
  <section>
    <h4> Pricing </h4>
  <ion-item>
  <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
  <ion-label>Hourly</ion-label>
  <ion-input placeholder="Enter Price" type="number" slot="end"></ion-input>
  </ion-item>
  <ion-item>
  <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
  <ion-label>Single Day</ion-label>
  <ion-input placeholder="Enter Price" type="number" slot="end"></ion-input>
  </ion-item>
  <ion-item>
  <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
  <ion-label>2-7 Days</ion-label>
  <ion-input placeholder="Enter Price" type="number" slot="end"></ion-input>
  </ion-item>
  <ion-item>
  <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
  <ion-label>8+ Days</ion-label>
  <ion-input placeholder="Enter Price" type="number" slot="end"></ion-input>
  </ion-item>
  </section>
  <section>
    <h3>Avaliblity</h3>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Monday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Tuedsay</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Wednesday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Thursday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Friday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Saturday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Sunday</ion-label>
    </ion-item>
    <ion-button>Select All</ion-button><ion-button>Clear</ion-button>
</section>
<section>
  <ion-item>
    <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
    <ion-label>Delivery</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
    <ion-label>Pick-Up</ion-label>
  </ion-item>
</section>
<section>
  <ion-button expand="block" [routerLink]="['/Account/AccountPageModule']" (click)="showAlert()">Publish</ion-button>
</section>
</ion-content>

