ion-title {
  text-align: center;
}

#jessethecarriedguy {
  --background: #f44c0e;
  --box-shadow: 0px 2px 5px rgb(122, 120, 120);
  width: 135px;
  height: 35px;
}

#jessethecarriedguyman {
  --background: #f44c0e;
  --box-shadow: 0px 2px 5px rgb(122, 120, 120);
}

#clear {
  --background: white;
  --color: black;
  --box-shadow: 0px 2px 5px rgb(122, 120, 120);
  width: 135px;
  height: 35px;
}

section {
  text-align: center;
}

#premote {
  --background: white;
  --color: black;
  --box-shadow: 0px 2px 5px rgb(122, 120, 120);
  width: 300px;
  height: 57px;
}

ion-content {
  --background: url(https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/Background%20Image.png) no-repeat center/cover fixed;
}