<ion-header [translucent]="true">
<ion-toolbar>
  <ion-title> Sign In </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </section>
  <ion-button [routerLink]="['/home/Gotools']">Log In</ion-button>
  <ion-button [routerLink]="['']">Go Back</ion-button>