<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button><ion-icon name="notifications-outline"></ion-icon></ion-button>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-back-button slot="start"></ion-back-button>
  <ion-title> Inbox </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card id="selectCards" [routerLink]="['/PickTools/PickToolsPageModule']">
      <h3>Electric Drils</h3> <img id="drill" src="https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/Drill.png" width="110" height="110">
    </ion-card>
  </div>
  <div>
    <ion-card id="selectCards" [routerLink]="['/PickTools/PickToolsPageModule']">
      <h3>Electric Drils</h3> <img id="saw" src="https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/Saw.png" width="110" height="110">
    </ion-card>
  </div>
  <div>
    <ion-card id="selectCards" [routerLink]="['/PickTools/PickToolsPageModule']">
      <h3>Electric Drils</h3> <img id="angle" src="https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/Angel.png" width="135" height="175">
    </ion-card>
  </div>
  <div>
    <ion-card id="selectCards" [routerLink]="['/PickTools/PickToolsPageModule']">
      <h3>Electric Drils</h3> <img id="saws" src="https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/Saws.png" width="130" height="140">
    </ion-card>
  </div>
  <div>
    <ion-card id="selectCards" [routerLink]="['/PickTools/PickToolsPageModule']">
      <h3>Electric Drils</h3> <img id="nail" src="https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/Drill.png" width="110" height="110">
    </ion-card>
  </div>
</ion-content>


