#picture {
  position:absolute; left:5px; top:5px;
}

#selectCards {
  width: 150px;
  height: 165px;
  --background: #F44C0E;
  display: inline-block;
  margin-top: 0%;
  margin-left: 0%;
}

h6 {
  margin-top: 100%;
  margin-left: 0%;
  color: white;
}

div {
  text-align: center;
}
