#drill {
  position:absolute; right:-20px; top:16px;
}

#saw {
  position:absolute; right:-10px; top:0px;
}

#selectCards {
  width: 300px;
  height: 100px;
  --background: #F44C0E;
  display: inline-block;
  margin-top: -4%;
  margin-left: 0%;
}

h3 {
  margin-top: 12%;
  margin-left: -30%;
  color: white;
}

div {
  text-align: center;
}
