

<ion-content [fullscreen]="true">
<ion-header collapse="condense">
  <ion-toolbar>
  <ion-buttons slot="end">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<img id="pic" src="https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/GoTool%20Logo.png" width="150" height="50">
  </ion-toolbar>
</ion-header>
<section>
<ion-searchbar></ion-searchbar>
</section>
<section>
<ion-card [routerLink]="['/GeoMap/GeoMapPageModule']">
  <h5>Explore Tools in Your Area</h5>
  <img id="GeoMapButtonIcon" src="https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/GeoMapIcon.png" />
</ion-card>
</section>

<section>
  <header>Explore by Catagory</header>
  <ion-button size="small" [routerLink]="['/PickTools/PickToolsPageModule']" class="selection">Power Tools</ion-button>
  <ion-button class="selection" size="small">Accessories</ion-button>
</section>

<section>
  <ion-button class="selection" size="small">Woodworking</ion-button>
  <ion-button size="small"class="selection">Welding</ion-button>
</section>

<section>
  <ion-button class="selection"size="small">Vaccums</ion-button>
  <ion-button class="selection"size="small">Safety Gear</ion-button>
</section>
</ion-content>

