ion-menu-button {
  color: var(--ion-color-primary);
  text-align: right;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.map {
  font-size: 16px;
  width: 300px;
  height: 75px;
}

#search {
  width: 300px;
}

section {
  text-align: center;
}

.selection {
  width: 140px;
  height: 115px;
  border: 5px;
  --background: #F44C0E;
}
ion-content{
  text-align: center;
}

#pic {
  margin-left: 15%;
}

ion-content {
  --background: url(https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/Background%20Image.png) no-repeat center/cover fixed;
}

ion-button {
  --background: #F44C0E;
}

#yes {
  position:absolute; left:10px; top:0px;
}

#GeoMapButtonIcon {
  position:absolute; left:300px; top:0px;
}

ion-card {
  width: 345px;
  height: 75px;
  --background: #F44C0E;
  --box-shadow: 0px 2px 5px rgb(122, 120, 120);
}

h5 {
  margin-top: 8%;
  color: white;
}

#picture {
  position:absolute; left:5px; top:5px;
}

#selectCards {
  width: 150px;
  height: 165px;
  --background: #F44C0E;
  display: inline-block;
  margin-top: 0%;
  margin-left: 0%;
  --box-shadow: 0px 2px 5px rgb(122, 120, 120);
}

h6 {
  margin-top: 100%;
  margin-left: 0%;
  color: white;
}

div {
  margin-left: 5%;
}
