<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="end">
  <ion-button (click)="dismiss()">Close</ion-button>
  </ion-buttons>
  <ion-title> Success! </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<p>Select a Mile Range (200 Max): {{ range }}</p>
<ion-item>
<ion-range id="bruh" value=() min="1" max="200" pin color="dark">
</ion-range>
</ion-item>
<section>
<ion-button (click)="filter()" class="tools">
  Filter
</ion-button>
</section>
</ion-content>
