<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <ion-back-button slot="start"></ion-back-button>
</ion-toolbar>
</ion-header>
<ion-content>
<section><img src="https://i.ebayimg.com/images/g/Ay4AAOSwge9gLsKG/s-l1600.jpg" width="400" height="300"></section>
<section>
  <p>Power Tool</p>
  <h3>Electric Drill</h3>
  <p>de walt electric drill with charger and battery<p>
  
<ion-button size="large">
  <ion-icon  size='large'name="person-circle-outline"></ion-icon>
  <ion-button [routerLink]="['/Renter/RenterPageModule']"> John Jones</ion-button>
<ion-button [routerLink]="['/Inbox/InboxPageModule']"><ion-icon name="mail-outline"></ion-icon></ion-button>
</ion-button>
</section>
<section>
  <div id="faq">
    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Listing Prices</h2>
        <p class="bruh">
          Hourly: $3 <br> Single Day: $3 <br> 2-7 Days: $3 <br> 8+ Days: $3 <br> Delivery: $3 <br> 
        </p>
      </li>
    </ul>
  </div>
</section>
<section>  
  <h3>Avaliblity</h3>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Monday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Tuedsay</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Wednesday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Thursday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Friday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Saturday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Sunday</ion-label>
    </ion-item>
</section>
<section>

<section>
  <ion-button (click)="showAlert()">Request For Delivery</ion-button>
  <ion-button (click)="showAlert()">Request For Pick Up</ion-button>
</section>
