<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <ion-back-button slot="start"></ion-back-button>
</ion-toolbar>
</ion-header>
<section><img src="https://i.ebayimg.com/images/g/Ay4AAOSwge9gLsKG/s-l1600.jpg" width="400" height="300"></section>
<section>
  <p>Power Tool</p>
  <h3>Electric Drill</h3>
  <p>de walt electric drill with charger and battery<p>
  
<ion-button size="large" [routerLink]="['/Renter/RenterPageModule']">
  <ion-icon  size='large'name="person-circle-outline"></ion-icon>
John Jones
</ion-button>
</section>