<ion-header [translucent]="true">
<ion-toolbar>
<ion-back-button slot="start"></ion-back-button>
  <ion-buttons slot="end">
    <ion-back-button></ion-back-button>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title> GeoMap </ion-title>
</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true"> 
<ion-button id="top" (click)="presentfilterModal()"> Filter Your Results</ion-button>
<ion-button id="bottom" (click)="presentModal()" [routerLink]="['/NearByListings/NearByListingsPageModule']"> Search</ion-button>
  <div #map id="map">
  </div>
</ion-content>