<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="end"></ion-buttons>
  <ion-title> LogIn/Out! </ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <section>
  <ion-button [routerLink]="['/CreateAccount/CreateAccountPageModule']">Sign Up</ion-button>
  </section>
  <section>
  <ion-button [routerLink]="['/SignIn/SignInPageModule']">Log In</ion-button>
  </section>
  <section>
  <ion-button id="test"[routerLink]="['/home/Rentools']"> Skip For Now </ion-button>
  </section>
</ion-content>