

<ion-content id="test">
  <img id="pic" src="https://stackblitz.com/files/rentools/github/edgarpacey/rentoolsPrototype2/master/src/assets/Group%20145.png" width="325" height="112">
 <br><br><br><br><br><br><br><br>
  <section>
    <br>
  <ion-button id="sign" [routerLink]="['/CreateAccount/CreateAccountPageModule']">Sign Up</ion-button>
  </section>
  <br>
  <section>
  <ion-button id="log" [routerLink]="['/SignIn/SignInPageModule']">Log In</ion-button>
  </section>
  <br>
  <p [routerLink]="['/home/Gotools']"><u> Skip For Now </u></p>
</ion-content>