.tools {
  width: 300px;
  height: 100px;
}

ion-content {
  text-align: center;
}

#close {
  width: 200px;
  height: 5px;
  --background: black;
}

ion-toolbar {
  text-align: center;
}

p {
  color: black;
  text-align: center;
}